.grid-container {
  display: grid;
  grid-template-columns: repeat(9, 40px);
}

.grid-item {
  text-align: center;
  font-weight: bold;
  color: #2980b9;
  background-color: #d6eaf8;
  margin: 2px;
  border: solid 2px black;
}

h2 {
  color: #2980b9;
}
